<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments/base :: head (title ='Edit')" />
<body>

    <!-- HEADER -->
    <div th:replace="_fragments/base :: header" />
    <!-- /HEADER -->
    <!------------------------------------------------->


    <!-- MAIN CONTENT -->
    <div class="container">
        <div class="starter-template">

            <h1>Add/Edit a Technology</h1>

            <form th:object="${technology}"
                  th:action="@{/technologies/}"
                  th:method="post" >

                <!-- ID -->
                <input type="hidden" th:field="*{id}" />

                <!-- Name -->
                <div class="form-group">
                    <label for="name">Technology Name:</label>
                    <input id="name" type="text" th:field="*{name}" class="form-control" />
                </div>

                <!-- Business Description -->
                <div class="form-group">
                    <label for="business_value">Business Value:</label>
                    <textarea
                            id="business_value"
                            type="text"
                            th:field="*{business_value}"
                            placeholder="Business-level description"
                            class="form-control"
                            rows="5" />
                </div>

                <!-- Tech Description -->
                <div class="form-group">
                    <label for="tech_description">Tech Description:</label>
                    <textarea
                            id="tech_description"
                            type="text"
                            th:field="*{tech_description}"
                            placeholder="Technical description"
                            class="form-control"
                            rows="5"/>
                </div>


                <button type="submit" class="btn btn-primary">Submit</button>
            </form>


        </div> <!-- /starter-template -->
    </div> <!-- /container -->
    <!-- /MAIN CONTENT -->



    <!------------------------------------------------->
    <!-- FOOTER -->
    <div th:replace="_fragments/base :: footer" />
    <!-- /FOOTER -->

</body>
</html>