<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments/base :: head (title ='List')" />
<body>

    <!-- HEADER -->
    <div th:replace="_fragments/base :: header" />
    <!-- /HEADER -->
    <!------------------------------------------------->



    <!-- MAIN CONTENT -->
    <div class="container">
        <div class="starter-template">

        <a th:href="@{/technologies/add}" role="button" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Technology
        </a>


        <table id="technologies_table" class="table table-striped">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Technology</th>
                    <th>Business Value</th>
                    <th>Technical description</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="technology : ${technologies}">
                    <td><!--<span th:text="${technology.category.name}" />--></td>
                    <td><a th:href="@{/technologies/{id}(id=${technology.id})}" th:text="${technology.name}" /></td>
                    <td><span th:text="${#strings.abbreviate(technology.business_value, 100)}" /></td>
                    <td><span th:text="${#strings.abbreviate(technology.tech_description, 100)}" /></td>
                </tr>
            </tbody>


        </table>

        </div> <!-- /starter-template -->
    </div> <!-- /container -->
    <!-- /MAIN CONTENT -->


    <!------------------------------------------------->
    <!-- FOOTER -->
    <div th:replace="_fragments/base :: footer" />
    <!-- /FOOTER -->

</body>
</html>